.sign-up-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .sign-up-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .signup-main {
    display: flex;
  }
  
  .signup-left {
    flex: 1;
    height: 100vh;
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-left-content {
    text-align: center;
  }
  
  .signup-left-content h1 {
    font-size: 35px;
  }
  
  .signup-right {
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signup-logo img {
    width: 50px;
    margin: 0 auto 20px;
  }
  
  .signup-container h2 {
    font-size: 35px;
    text-align: center;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  form input, form select {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signup-submit {
    padding: 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
  }
  
  .signup-submit:hover {
    background: white;
    color: black;
    border: 1px solid black;
  }
  
  
  