* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.module-border {
    display: flex;
    border: 3px solid #2b70c9; 
    padding: 1%;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    margin: 3%;
}

.module {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #2b70c9;
    color: white;
    border-radius: 10px;
    padding: 5%;
}

.module-button {
    color: white;
    border: none;
    border: 2px solid white; 
    border-radius: 3px;
    width: 100%;
    height: 58px;
    transition-duration: 1s;

}
.module-button:hover {
    transition-duration: 1s;
    cursor: pointer;
    background-color: rgba(35,174,244, .8)
}

.done {
    background-color: rgba(88, 204, 2);
}
.done:hover {
    transition-duration: 1s; 
    background-color: rgb(78, 179, 1);
}

.todo {
    background-color: rgba(35,174,244);
}
.todo:hover {
    background-color: rgba(32, 157, 219, 0.8);
    transition-duration: 1s; 
}