
.module-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.path {
    height: 200%;
    margin: auto;
    z-index: -1;
    margin: 0% 50%;
    position: absolute;
}

.path-header {
    display:flex;
    justify-content: center;
    background-color: white;
}

.class-header {
    width: 100%;
    background-color: deepskyblue;
}