* {
    background-color: none;
}

.module-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}.path {
    height: 200%;
    margin: auto;
    margin: 0% 50%;
    position: absolute;
}.path-header {
    display:flex;
    justify-content: center;
    background-color: white;
    z-index: 1;
}.class-header {
    width: 100%;
    background-color: deepskyblue;
}