/* App.css */

/* Ensure the body takes full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Add a container for the main content */
.main-content {
  min-height: calc(100vh - 56px); /* Adjust height to consider the Navbar height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Optional padding for aesthetics */
  box-sizing: border-box; /* Include padding in height calculations */
}

body {
  background-color: white; /* Or any other desired color */
}


/* Optional: Style the scrollbar (works in Webkit browsers) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
