@font-face {
    font-family: "Genera Light";
    src: url("./fonts/GeneraAltLight-ALEGD.otf");
}

@font-face {
    font-family: "Genera Bold";
    src: url("./fonts/GeneraSemibold-qZmod.otf");
}

*{
    font-family: "Genera Bold";
}

#root {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}